name: create a S3 bucket and 
on:
  push:
    branches: [ main ]

jobs:
  Deployment:
    name: create EC2 Instance
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v1


      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --stack-name s3-bucket \
            --template-file ec2.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --region us-east-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
